.footer {
  height: 175px;
  background-color: var(--footer-purple);
  width: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  height: 75%;
  color: rgba(255, 255, 255, 0.2);
  font-family: Arial;
  font-size: 12px;
  justify-content: space-evenly;
  list-style: none;
  padding-top: 40px;
  margin: 0;
}

.second {
  width: 118px;
}

.virtuoso {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}

.htc {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  width: 20px;
}

@media (min-width: 640px) {
  .footer {
    height: 115px;
  }

  .links {
    display: block;
    padding-top: 2.7rem;
  }

  .items {
    display: inline-block;
  }

  .first {
    padding-left: 0.2rem;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .second {
    width: 10rem;
    text-align: center;
  }

  .third {
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
}

@media (min-width: 768px) {
  .first {
    padding-left: 0.9rem;
  }
}
