.layout main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 54px); /* 54 is height of header on small screens */
}

.layout main footer {
  /* this just keeps the footer pinned to the btm of screen */
  margin-top: auto;
}

@media (min-width: 1024px) {
  .layout main {
    margin-left: 310px;
    min-height: 100vh;
  }

  .nav > ul {
    height: 100vh;
    position: fixed;
    width: 310px;
  }
}
