.layout main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 54px);
}

.layout main footer {
  margin-top: auto;
}

@media (min-width: 1024px) {
  .layout main {
    margin-left: 310px;
    min-height: 100vh;
  }

  .nav > ul {
    height: 100vh;
    position: fixed;
    width: 310px;
  }
}
