.pinkBlock {
  background: #1e40af;
  padding: 3rem 4rem;
  font-family: Arial, sans-serif;
  line-height: 150%;
}

.buttonWrapper {
  padding-top: 0;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brineText {
  margin-bottom: 20px;
}

.h1 {
  color: rgba(255, 255, 255, 0.9);
}

.p {
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
  max-width: 755px;
}

.h1 {
  color: white;
}

.btn {
  padding: 14px 18px;
  margin-left: 10px;
}

.brine {
  padding-top: 10px;
}

.link {
  text-decoration: underline dotted;
}

.link:hover {
  text-decoration: underline solid;
}
