.form {
  font-family: Arial, sans-serif;
  background-color: var(--light-purple);
}

.formDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form label {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 540;
  font-size: 1.1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.form input,
.form textarea {
  display: block;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.06);
  border-color: rgba(255, 255, 255, 0.1);
  border-style: solid;
  border-width: 1px;
  padding: 15px;
  margin-top: 5px;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 1rem;
}

.form textarea:focus,
.form input:focus {
  border-color: white;
  border-width: 1px;
  box-shadow: 0 0 0 1px #fff;
  outline: none;
}

@media (min-width: 640px) {
  .form .inputs {
    flex-direction: row;
  }
  .inputDivs {
    flex-grow: 1;
  }
  .email {
    margin-left: 30px;
  }
}

.formButton {
  width: 250px;
  margin-top: 3em;
  margin-bottom: 4em;
}

@media (max-width: 640px) {
  .formButton {
    width: 100%;
  }
}
