.entireBlock {
  font-family: arial;
  display: flex;
  background-color: var(--light-pink);
  padding: 0px 15px;
}

.rightChunk {
  padding: 20px 20px 20px 0px;
}

.rightChunk h2 {
  font-size: 1.2em;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
}

.rightChunk p {
  color: rgba(255, 255, 255, 0.5);
}

.leftChunk {
  padding: 1em;
}

.icon {
  color: var(--pink);
  width: 40px;
  height: 40px;
  background-color: white;
  font-size: 18px;
  border-radius: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
