.item {
  list-style: none;
  padding: 10px;
  background: linear-gradient(var(--snowmen-light-blue), var(--snowmen-blue));
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .item {
    margin-left: 20px;
    margin-right: 20px;
  }
}
