.textBlock {
  font-family: Arial;
  color: white;
  display: flex;
  padding: 4rem 2rem 2rem 2rem;
  flex-direction: column;
}
.header {
  font-size: 30px;
}
.text {
  opacity: 0.5;
  font-size: 16px;
  padding-top: 1px;
  line-height: 1.5rem;
}
.imageWrap {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 320px;
}

.imageWrap > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }

  .textBlock {
    padding: 70px;
    padding-bottom: 0;
    width: 67%;
  }

  .imageWrap {
    height: 350px;
    width: 33%;
  }
  .imageWrap > img {
    height: 350px;
  }
}

.imageAndTextBlockButton {
  width: 200px;
  margin-top: 3em;
  margin-bottom: 2em;
}

@media (max-width: 640px) {
  .imageAndTextBlockButton {
    width: 100%;
  }
}
