.textBlock {
  font-family: Arial;
  color: white;
  display: flex;
  padding: 30px;
  flex-direction: column;
  font-size: 0.9em;
}

.text {
  opacity: 0.5;
}

.image {
  height: 250px;
  width: 100%;
  overflow: hidden;
  postion: relative;
}

.main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }

  .textBlock {
    padding: 70px;
  }
}
