.outerWrap {
  background-color: var(--snowmen-light-blue);
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 1em;
  color: white;
}

.topRow {
  background: var(--snowmen-blue);
  display: flex;
  justify-content: space-between;
}

.footer {
  margin-top: auto;
}

.slideoverMenu {
  width: 300px;
  position: absolute;
  left: -300px;
  top: 0;
  transition-duration: 250ms;
  transition-property: left;
}

.slideoverMenuOpen {
  left: 0;
}
