.outerNav {
  list-style: none;
  background-color: var(--dark-purple);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.aTag {
  height: 50px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.link {
  margin-left: 12px;
  margin-right: 12px;
  letter-spacing: 1px;
  font-family: 'Arial';
  font-size: 9px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  height: 50px;
  display: flex;
  align-items: center;
}

.active::after {
  content: '';
  display: block;
  position: absolute;
  background: var(--pink);
  height: 3px;
  width: 100%;
  bottom: 0;
}

.link:hover {
  color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 1024px) {
  .outerNav {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  .link::after {
    content: '';
    display: block;
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
  }

  .active::after {
    background: linear-gradient(to left, var(--pink), var(--med-purple));
  }
  .link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    margin: 0;
    text-align: right;
    width: 80%;
    height: 60px;
    font-size: 12px;
  }
}
