.pinkBlock {
  background: var(--pink);
  padding: 3rem 2rem;
  font-family: 'Arial', sans-serif;
}

.buttonWrapper {
  padding-top: 4rem;
}

.p {
  color: rgba(255, 255, 255, 0.5);
}

.h1 {
  color: rgba(255, 255, 255, 0.9);
}
