.menu {
  background-color: var(--snowmen-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.notSureWhatThisIsYet {
  padding: 10px;
  align-self: flex-end;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

#firstLink {
  border-style: solid none none;
  border-width: 3px;
  border-color: var(--snowmen-dark-blue);
}

.link {
  color: white;
  padding: 15px;
  transition: 0.3s;
}

.link:hover {
  background-color: var(--snowmen-light-blue);
  transition: 0.3s;
}
