.menu {
  background-color: var(--snowmen-blue);
  min-height: 100vh;
  max-width: 85vw;
  display: flex;
  flex-direction: column;
}

.notSureWhatThisIsYet {
  padding: 10px;
  align-self: flex-end;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

.link {
  color: white;
  padding: 15px;
}

.link:hover {
  background-color: var(--snowmen-light-blue);
}

@media (min-width: 900px) {
  .menu {
    max-width: 30vw;
  }
}
