@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .leading-150 {
    line-height: 150%;
  }
}

:root {
  --light-purple: hsl(257, 43%, 45%);
  --med-purple: hsl(257, 44%, 35%);
  --footer-purple: hsl(256, 42%, 32%);
  --purple: hsl(259, 38%, 28%);
  --dark-purple: hsl(258, 38%, 23%);
  --pink: hsl(322, 42%, 51%);
  --light-pink: hsl(320, 42%, 54%);
  /* --orange: rgb(173, 106, 61); */
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.staff > div {
  min-height: 270px;
}

#our-clients img {
  object-fit: contain;
}

#plow-contain img {
  background: rgb(15, 10, 25);
  object-fit: contain;
}

.ArticlePage p {
  margin-bottom: 1.5em;
  font-size: 1.1em;
  @apply antialiased;
  color: black !important;
}

.ArticlePage li {
  color: var(--purple);
}

.ArticlePage li > span {
  @apply border-b border-dotted;
}

.OurServices {
  display: none !important;
}

@media (min-width: 768px) {
  .OurServices {
    display: flex !important;
  }
}

@media (min-width: 1280px) {
  .staff > div {
    min-height: 400px;
  }
}
