@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-purple: rgb(94, 66, 166);
  --med-purple: rgb(73, 51, 130);
  --footer-purple: rgb(65, 47, 114);
  --purple: rgb(60, 44, 98);
  --dark-purple: rgb(49, 36, 80);
  --pink: rgb(183, 78, 145);
  --light-pink: rgb(187, 90, 155);
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.staff > div {
  min-height: 270px;
}

@media (min-width: 1280px) {
  .staff > div {
    min-height: 400px;
  }
}
