:root {
  --light-purple: rgb(94, 66, 166);
  --med-purple: rgb(73, 51, 130);
  --purple: rgb(60, 44, 98);
  --dark-purple: rgb(49, 36, 80);
  --pink: rgb(183, 78, 145);
  --light-pink: rgb(174, 95, 148);
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
